.home-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.home-main-container {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.home-card-container {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}
