.card-component {
  height: 270px;
  width: 300px;
  border: 0px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.card-item-img {
  height: 220px;
  width: 280px;
  margin: 10px;
}

.card-item-name {
  font-size: 16px;
  font-weight: 500;
  align-items: flex-start;
}

.card-bottom-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-price-tag {
  margin: 10px;
}

.card-cart-btn {
  color: white;
  background-color: black;
  margin: 10px;
}
