.dropdown-container {
  position: relative;
  align-content: center;
  width: 100px;
  margin: 10px;
}

.dropdown-btn {
  border: 1px solid #ccc;
  cursor: pointer;
  height: 35px;
  align-content: center;
  background-color: #f9f9f9;
}

.dropdown-list {
  position: absolute;
  align-content: center;
  left: 0;
  width: 98px;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  max-height: 150px;
  z-index: 1;
  overflow-y: auto;
}

.dropdown-list li {
  padding: 5px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}
