.filter-component {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.filter-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.filter-item label {
  display: flex;
  align-items: center;
}

.filter-item input {
  margin-right: 8px;
}
